.titulo{
    color: rgb(57, 195, 57);
    width: 350px;
    height: 50px;
    background-color: black;
}
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}