:root{
    --gren-primary: #7ECA9C;
    --green-secundary: #CCFFBD;
    --black: #1C1427;
    --gray: #40394A;
}
body{
    font-family: 'Cairo', sans-serif;
    background-color: var(--black);
}
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    color: var(--gren-primary);
    font-size: 36px;
}
.subtitulo{
    color: var(--gren-primary);
    font-size: 28px;
    
}
.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 10px;
}
.tarjeta-mokepon{
    width: 200px;
    height: 140px;
    color: #40394A;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: var(--green-secundary);
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid hotpink; */
}
.tarjeta-mokepon img{
    width: 80px;
}
#boton-mascota{
    height: 40px;
    width: 180px;
    border-radius: 40px;
    background: transparent;
    border: 2px solid var(--gren-primary);
    color: var(--gren-primary);
    font-family: 'Cairo', sans-serif;
    margin-top: 30px;
}
input{
    display: none;
}
#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}
.boton-ataque{
    background-color: var(--green-secundary);
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    width: 100px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    margin: 10px;
    border: transparent;
}

#mensajes{
    display: flex;
    justify-content: center;
    background-color: var(--green-secundary);
    width: 280px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}
#boton-reinicar{
    border: transparent;
    color: var(--black);
    font-family: 'Cairo', sans-serif;
}
.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
}
.ataques-jugador, .ataques-enemigos{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
@media(max-width:360px){
    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
    }
}